.navbar {
    display: flex;
    background-color: #333;
    padding: 1rem;
    justify-content: center;
.nav-button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0px 10px;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s;
  .nav-button:hover {
    background-color: #777;
}
